In [1]:
#loops 
#wile loop

i=0
while i<10:
    print(i)
    i+=1
else:
    print("The number is 10 now")

0
1
2
3
4
5
6
7
8
9
The number is 10 now

In [6]:
#break statement 
i=0;
while i<10:
    if(i==4):
        break#this will break the loop once i reches to 4
    print(i)
    i+=1
    
else:
    print("The number is 10 now")

0
1
2
3

In [11]:
#break statement 
i=0;
while i<10:
    if(i==4):
        i+=1
        print("This was supposed to be 4")
        continue#this will skips the iteration when i is 4
    print(i)
    i+=1
    
else:
    print("The number is 10 now")

0
1
2
3
This was supposed to be 4
5
6
7
8
9
The number is 10 now

In [13]:
#for loop
fruits=['Apple','Banana','Jackfruit','Pineapple','Grapes']

for i in fruits:
    print(i)

Apple
Banana
Jackfruit
Pineapple
Grapes

In [14]:
for i in range(0,len(fruits)):
    print(fruits[i])

Apple
Banana
Jackfruit
Pineapple
Grapes

In [19]:
#pass statement in for loop: empty for loop can raise error so need 
# to write pass inside it
for i in range(0,10):
   pass